<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- 
		<bean id="collectionBean" class="polymorphism.CollectionBean">
			<property name="addressList">
				<list>
					<value>서울시 가산디지털</value>
					<value>창동</value>
				</list>
			</property>
		</bean>
	 -->	
	 <!-- scan 은 범위 잘 잡기(main package 설정) -->
	 <context:component-scan base-package="polymorphism"></context:component-scan>
	 
</beans>
